#learn-bridge {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clipped;
}

/* Exercise Begin */

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: Arial;
}

#modal-footer {
	text-align: right;
}

h1 {
	padding-bottom: 15px;
}

.modal-button {
	padding: 10px 15px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

/* Exercise End */