body {
	font-style: Helvetica;
}

#App {
	display: flex;
	justify-content: space-evenly;
}

.receipt {
	padding: .5rem;
	border: solid orange 3px;
}

.receipt ul {
	list-style: none;
	padding: unset;
}

.receipt ul li {
	margin-bottom: 1rem;
}

.title {
	color: purple;
	font-weight: bold;
}

@media only screen and (max-width: 24rem){
	#App {
		flex-direction: column;
	}

	.receipt {
		margin-bottom: .5rem;
	}
}